body {

    /*box-sizing: border-box;*/
    border-color: darkorange;
    color: darkorange;


}

div {

    border-color: darkorange;
}

.container {


}

.nav {

    display: inline-block;
}

.nav-item{

display: inline-block;
}