<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="partials/head :: head" >

    <meta charset="UTF-8" />
    <title>Create</title>
</head>
<body>
<div sec:authorize="isAuthenticated()">

    <h1 class="text-center">Create your Post</h1>

    <!--This content is only shown to authenticated users.-->

    <!--User ID: <span th:text="${#authentication.principal.id}"/>-->
    <!--Username: <span th:text="${#authentication.principal.username}"/>-->
    <!--Email: <span th:text="${#authentication.principal.email}"/>-->

</div>

<div class="container text-center border rounded mt-5">
    <h1 class="text=center">Create</h1>
    <form class="form-group" th:action="@{/posts/create}" method="post" th:object="${post}">

    <div class="form-group">
        <label for="name">Title</label>
        <input class="form-control" type="text" id="name" th:field="*{title}" />
    </div>
    <div class="form-group">
        <label for="body">Description</label>
        <input class="form-control" type="text" id="body"  th:field="*{body}" />
    </div>

    <input class="btn btn-block btn-success" type="submit"/>
    </form>
</div>

</body>
</html>