<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<head th:include="partials/head :: head">
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body >
<div sec:authorize="isAuthenticated()">

    <h1 class="text-center">Edit your Post</h1>
    <!--This content is only shown to authenticated users.-->

    <!--User ID: <span th:text="${#authentication.principal.id}"/>-->
    <!--Username: <span th:text="${#authentication.principal.username}"/>-->
    <!--Email: <span th:text="${#authentication.principal.email}"/>-->
</div>

<div class="container text-center border border-dark rounded mt-5">

    <form class="form-group" th:action="@{/posts/} + ${id} + @{/edit}" th:method="post" th:object="${post}">
        <h2>Title:</h2>
        <input class="form-control" th:field="*{title}" />
        <br />
        <h2>Body:</h2>
        <input class="form-control" th:field="*{body}" />
        <br />
        <input type="submit" class="btn btn-block btn-success text-light" />
    </form>

</div>

</body>
</html>